node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules/*
.stylelintignore
.stylelintrc.json
commitlint.config.js
jest.config.js
tsconfig.json
tsconfig.*.json
tailwind.config.js
postcss.config.js
next.config.js
build
setupTests.js
.prettierignore
prettier.config.js